html, body {
  background-color: #202020;
    text-align: center;
    padding: 0;
        margin:0;
    font-family: Roboto;
}

a {
    text-decoration: none;
    color:inherit;
}

#beer-bucket {
        display: inline-block;
    }

#glass {
  position:relative;
  background-color: rgba(255,255,255,0.08);
  width:200px;
  height:350px;
    border-radius:10px;
      overflow: hidden;
    
    //margin-top: 100px;
}
#glass::after{
  content:"";
  left:20px;
  position: absolute;
  height:calc( 100% + 10px);
  width:30px;
  background-color: rgba(255,255,255,0.1);
  transform: rotate(2deg);
}

#liquid-container {
  position: absolute;
  left:10px;
  top:0px;
  height: calc(100% - 40px);
  width: calc(100% - 20px);
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
  overflow:hidden;
  background-color: rgba(0,0,0,0.03);
}
    
    #liquid{
        position: relative;width:100%;height:100%;padding-top:80px;animation-name: flow;animation-duration: 0.3s;animation-iteration-count: infinite;
    }

#bubble {
  height: 40px;
  width: 100%;
  background-color: #E5D1C4;
}
    
    @keyframes bubbles{
        0% {background-position: 0% 0%  }
        100% {background-position: 0% -10000%  }
    }
@keyframes choppes{
        0% {background-position: 0% 0%  }
        100% {background-position: 1000% 0%  }
    }

@keyframes emails{
        0% {background-position: 0% 0%  }
        100% {background-position: -1000% 1000%  }
    }

@keyframes wallets{
        0% {background-position: 0% 0%  }
        100% {background-position: 1000% -1000%  }
    }
@keyframes tours{
        0% {background-position: 0% 0%  }
        100% {background-position: -1000% 0%  }
    }

@keyframes coins{
        0% {background-position: 0% 0%  }
        100% {background-position: 0% 10000%  }
    }
    
    @keyframes flow {
        0% {padding-top:42px }
        50% {padding-top:40px }
        100% {padding-top:42px }
    }

#beer {
   height: calc(100% - 40px);
  width: 100%;
    background: url('../img/beer.png');
    background-repeat: repeat;
    background-size: 150px 150px;
  //background-color: #FFB241;
    animation-name: bubbles;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
    
    @keyframes falling{
        0% {top: 15px;transform: rotate(0deg);}
        30% {top: 200px;transform: rotate(0deg);}
        100% {top: 315px;transform: rotate(90deg);}
    }

 @keyframes spinning{
        0% {width:23px;margin-left: 0px;}
        50% {width:0px;margin-left: 12px;}
        100% {width:23px;margin-left: 0px;}
    }

 @keyframes bouncing{
        0% {bottom:50px;}
        50% {bottom:75px;}
        100% {bottom:50px;}
    }
    
    .coin{
        width:50px;
        height:63px;
        background: url('../img/coin.png') 0% 0% /100% 100%;
        position: relative;
        
        border:none;
        display: inline-block;
    }

.coin.animated{
    animation-name: falling;
        animation-duration: 4s;
        animation-iteration-count: infinite;
}

#beer-bucket .coin{
        top: 15px;
        left: 82px;
    display: block;
}


    
section {
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    position: relative;
    padding: 100px;
    overflow-x: hidden;
}

section#jumbo{
    background: url('../img/back.png');
    background-repeat: repeat;
    background-size: 300px 300px;
  //background-color: #FFB241;
    animation-name: bubbles;
    animation-duration: 600s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    text-align: center;
    padding-left: 50px;
padding-top:50px;
    padding-bottom: 100px;
        
}


section#send{
    background: url('../img/chop.png');
    background-repeat: repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: 500px 500px;
    animation-name: choppes;
    animation-duration: 1200s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
        
}

section#jumbo #logo{
    position: absolute;
    left:50px;
    top:50px;
    height: 100px;
}

section#jumbo .coin {
    position: absolute;
        top: 84px;
    left: 477px;
    height: 23px;
    width: 25px;
    animation-name: spinning;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

section h1{
    color:white;
    text-align: center;
    font-size: 60px;
    font-family: Roboto;
    padding-left: 20%;
    padding-right: 20%;
    text-shadow: 3px 3px 6px rgba(0,0,0,0.2);
}

section#jumbo h1{
    color:white;
    text-align: center;
    font-size: 60px;
    font-family: Roboto;
    margin-top: 210px;
    padding-left: 10%;
    padding-right: 10%;
    text-shadow: 3px 3px 6px rgba(0,0,0,0.2);
}

section h2{
    color: white;
    font-size: 40px;
}

section#definition{
    background: #e74c3c url('../img/coins.png');
    background-repeat: repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: 250px 250px;
    animation-name: coins;
    animation-duration: 1200s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#arrow-down{
    width:50px;
    fill: white;
    position: absolute;
    bottom: 50px;
    left:50%;
    animation-name: bouncing;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.text-red {
    color: #c0392b;
    opacity: 1;
}

strong {
    text-decoration: underline;
    font-weight: 600;
}

div { position: relative; } 



@keyframes input {
    0% {width: 300px}
    25% {width:200px}
    50% {width:275px}
    75% {width:220px}
    100% {width:300px}
}

input{
    position: relative;
    background: white;
    margin-top: 50px;
    border: none;
    font-family: Roboto;
    color: black;
    font-size: 30px;
    animation-name: none;
    height: 60px;
    width: 500px;
    margin-bottom: 50px;
    padding-left: 20px;
    border-radius: 33px;
    text-align: center;
    text-transform: lowercase;
}

input:focus{
    //animation-name: input;
    //animation-duration: 0.5s;
}


label { 
    display: inline-block;
    font-size:40px;
    position: absolute; 
    top: 50px;  
    left: 0; 
    width: 100%; 
    transition: 0.2s; 
    cursor: pointer;
    height: 60px;
    line-height: 60px;
    color: lightgrey;
} 

input:focus+label, input:valid+label { 
    font-size:30px; 
    color: white; 
    top:0; 
    transition: 0.2s;
    opacity: 0;
}

button.send{
    background: none;
    border: 2px solid white;
    width: 250px;
    height: 58px;
    border-radius: 39px;
    color: white;
    font-family: Roboto;
    cursor: pointer;
    font-size: 27px;
    transition: linear 0.2s;
}

button.send:hover{
    background: white;
    color: #303030;
    transition: linear 0.2s;
}

#coins {
    display: inline-block;
    width: 400px;
}

#coins .coin{
    margin-left: -15px;
    margin-right: -15px;
    top:-10px;
}

#plus, #less {
    background: none;
border: 2px solid white;
width: 51px;
height: 61px;
border-bottom-left-radius: 100% 100%;
border-bottom-right-radius: 100% 100%;
border-top-left-radius: 100% 100%;
border-top-right-radius: 100% 100%;
color: white;
font-family: Roboto;
cursor: pointer;
font-size: 27px;
transition: linear 0.2s;
margin-left: 25px;
margin-right: 25px;
box-sizing: border-box;
}

#plus:hover{
    background: white;
    color: #303030;
    transition: linear 0.2s;
}

footer {
    padding: 20px;
    font-size:20px;
    color: white;
    font-weight: 200;
    background: url('../img/tours.png');
    background-repeat: repeat;
    background-position: center top;
    background-attachment: fixed;
    background-size: 100px 100px;
    animation-name: tours;
    animation-duration: 1200s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.separator {
   padding-top: 5px;
   padding-bottom: 5px;
    background: white;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.7);
    position: relative;
    z-index: 2;
}

p {
    color: white;
    font-size: 26px;
    font-weight: 300;
    font-style: italic;
    opacity: 0.8;
}

p a{
    text-decoration: underline;
}


#ie {
    display: none;
    background: #202020;
    position: fixed;
    top:0;
    left:0;
    z-index: 999;
}

@keyframes ie{
    0% {  transform: rotate(10deg);
        transform-origin: 200px -100px;}
    50% {transform: rotate(-10deg);
    transform-origin: 200px -100px;}
    100% {  transform: rotate(10deg);
        transform-origin: 200px -100px;}
}

#ie div {
    border:15px solid #ffb736;
    transform: rotate(-10deg);
    box-shadow: 5px 5px 8px rgba(0,0,0,0.5);
    width:400px;
    height:307px;
    display: inline-block;
    z-index: 1;
    position: relative;
    margin-top: 100px;
    animation-name: ie;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out
}

#ie div::before{
    content: "";
    background: white;
    position: absolute;
    top:-77px;
    left: 50px;
    width:176px;
    height: 2px;
    transform: rotate(-45deg);
    z-index: 0;
    
}

#ie div::after{
    content: "";
    background: white;
    position: absolute;
    top:-77px;
    right: 50px;
    width:176px;
    height: 2px;
    transform: rotate(45deg);
    z-index: 0;
}

#ie div img{
    width:100%;
    
}

@keyframes slipping {
    0% {top:0px;}
    40% {top:0px;}
    60%{top:81px;}
    100%{top:81px;}
}

@keyframes sending {
    0% {margin-left: calc( -100% - 400px);}
    40% {margin-left: 0;}
    60%{margin-left: 0;}
    100% {margin-left: calc( 100% + 200px);}
}


.email-wrapper {
    position: relative;
    height: 216px;
    width:200px;
    display: inline-block;
    animation-name: sending;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    margin-left: calc( -100% - 400px);
}

.email-front {
    position: absolute;
    z-index: 3;
    background-image: url('../img/mail-front.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
    width:100%;
    height:135px;
    top:80px;
    
}

.email-paper {
    position: absolute;
    z-index: 2;
    background-image: url('../img/mail-paper.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: 157px;
    height: 152px;
    top: 81px;
    left: 21px;
    animation-name: slipping;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.email-back {
    position: absolute;
    z-index: 1;
    background-image: url('../img/mail-back.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
    width:100%;
    height:152px;
}

section#validation {
    display: none;
    background: #2ecc71;
    background-image: url('../img/emails.png');
    background-repeat: repeat;
    background-size: 200px 200px;
    animation-name: emails;
    animation-duration: 600s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

section#wallet {
    display: none;
    background: #3498db;
    background-image: url('../img/wallet.png');
    background-repeat: repeat;
    background-size: 300px 300px;
    animation-name: wallets;
    animation-duration: 600s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#wallet-separator{
    display: none;
}

section#validated {
    display: none;
    background-color: #34495e;
}

ul li {
    list-style-type: none;
color: white;
font-weight: 300;
font-size: 20px;
}

#coins {
        width: 500px;
    }

.keywords {
    opacity: 0;
    visibility: hidden;
    display: inline-block;
    height: 0;
}
@media (max-width:1024px) and (min-width:801px){
        
    
section#jumbo{
    background: url('../img/back.png');
    background-repeat: repeat;
    background-size: 300px 300px;
    animation-name: bubbles;
    animation-duration: 600s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top:100px;
    padding-bottom: 100px;
        
}
    
    section#jumbo h1{
        color:white;
        text-align: center;
        font-size: 42px;
        font-family: Roboto;
        margin: 0;
        margin-top: 210px;
        padding-left: 10px !important;
        padding-right: 10px !important;
        text-shadow: 3px 3px 6px rgba(0,0,0,0.2);
    }
    
    
section#jumbo #logo{
    position: absolute;
    left:50px;
    top:50px;
    height: 80px;
}

section#jumbo .coin {
    position: absolute;
    top: 72px;
left: 390px;
height: 20px;
width: 21px;
    animation-name: spinning;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
    

}

@media (max-width:800px){
    
section#jumbo{
    background: url('../img/back.png');
    background-repeat: repeat;
    background-size: 300px 300px;
    animation-name: bubbles;
    animation-duration: 600s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top:100px;
    padding-bottom: 100px;
        
}
    
    section#jumbo h1{
        color:white;
        text-align: center;
        font-size: 30px;
        font-family: Roboto;
        margin: 0;
        margin-top: 210px;
        padding-left: 10px !important;
        padding-right: 10px !important;
        text-shadow: 3px 3px 6px rgba(0,0,0,0.2);
    }
    
    
section#jumbo #logo{
    position: absolute;
    left:50px;
    top:50px;
    height: 50px;
}

section#jumbo .coin {
    position: absolute;
 top: 63px;
left: 258px;
height: 15px;
width: 10px;
    animation-name: spinning;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

    section {
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    padding-top:100px;
    padding-bottom: 100px;
    overflow-x: hidden;
}
    
    input[type="text"]{
        width: 300px;
    }
    
    #coins {
        width: 305px;
    }
    
}